@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    color: #000;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
}

#home {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 5% 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 10px 30px;
    list-style: none;
}

/* for Screen under 1600px */
@media (max-width: 1600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        margin-top: 50px;
    }
    nav ul li {
        margin: 10px 20px;
    }
}

nav ul li a {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background-color: #ffae00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}

#icon-home, #icon-about, #icon-skills, #icon-experience, #icon-education, #icon-contact {
    color: #4a4a4a;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text h1 {
    align-self: flex-start;
    margin-top: 15%;
    font-size: 100px;
    text-align: center;
}
.header-text h1 span {
    /* color: #ffae00; */
    color: #ff7003;
}
.header-text p {
    align-self: flex-end;
    margin-top: 10%;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
    width: 550px;
    border-bottom: #ffae00 solid 5px;
}

/* for Screen under 1600px */
@media (max-width: 1600px) {
    .header-text h1 {
        margin-top: 8%;
    }
    .header-text p {
        margin-top: 8%;
        font-size: 50px;
        width: 500px;
    }
}

/*----------
About,
Skills,
Experience,
Education,
Contact
----------*/
.about-container, .skills-container, .experience-container, .education-container, .contact-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 60px;
    text-align: center;
    width: 360px;
    border-bottom: #ffae00 solid 5px;
}

#skills .subtitle {
    word-spacing: 20px;
}

#about p, #skills p, #experience p, #education p, #contact a, #contact p {
    padding: 5% 10%;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
}

#contact a {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

#contact p {
    text-align: center;
    margin-top: 50px;
}

.dot {
    color: #ffae00;
    font-size: 50px;
    font-weight: bold;
}

.job-title, .school-major {
    margin-top: 200px;
    font-size: 40px;
    /* color: #ffae00; */
    color: #ff7003;
    text-align: center;
}
.company, .school {
    margin-top: 30px;
    font-size: 30px;
    color: #4a4a4a;
}

#experience .location, #experience .year-month, #education .location, #education .year-month {
    padding: 0;
    margin-top: 40px;
    font-size: 20px;
    line-height: 5px;
    color: #6b6b6b;
    align-self: flex-end;
}

#education .note {
    font-size: 25px;
    margin-top: -50px;
    margin-bottom: 100px;
    padding: 0;
    line-height: 50px;
    color: #6b6b6b;
}
#education .note:last-child {
    margin-top: 50px;
}

/* ******************
    Go Top Button
********************* */
.go-top {
    font-size: 1.5rem;
    position: fixed;
    background-color: #ffae00;
    color: white;
    right: 10rem;
    bottom: 5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    display: grid;
    place-items: center;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.go-top:hover {
    color: #4a4a4a;
}

.show-go-top {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

/* ***********************
    Open & Close Icons
************************** */
#open-icon, #close-icon {
    display: none;
    font-size: 40px;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    transition: 0.5s;
}
#open-icon {
    color: #ffae00;
}
#open-icon:hover {
    color: #4a4a4a;;
}
#close-icon {
    color: #4a4a4a;
}
#close-icon:hover {
    color: #000;
}

/*---------- Screen under 1310px ----------*/
@media (max-width: 1310px) {
    #open-icon, #close-icon {
        display: block;
    }

    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #ffae00;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 80px;
        margin-top: 0;
        z-index: 10;
        transition: left 0.5s;
    }

    nav ul li {
        display: block;
        margin-top: 50px;
        margin-left: 20px;
    }

    nav ul li a:hover {
        color: #6b6b6b;
        transition: 0.5s;
    }

    .show-menu {
        left: 0;
    }

    #open-icon.fixed-open-icon {
        position: fixed;
        top: 30px;
        left: 30px;
    }
}

/*---------- Screen under 1000px ----------*/
@media (max-width: 1000px) {
    .go-top {
        right: 5rem;
        bottom: 5rem;
    }
}

/*---------- Screen under 600px ----------*/
@media (max-width: 600px) {
    .go-top {
        right: 3rem;
        bottom: 3rem;
        font-size: 1rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    #open-icon, #close-icon {
        font-size: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .header-text h1 {
        font-size: 70px;
    }

    .header-text p {
        align-self: center;
        font-size: 30px;
        width: 300px;
        border-bottom: #ffae00 solid 3px;
    }

    .contact-container {
        margin-top: 100px;
    }

    .subtitle {
        font-size: 35px;
        width: 220px;
    }

    #skills .subtitle {
        word-spacing: 10px;
    }

    #about p, #skills p, #experience p, #education p, #contact a, #contact p {
        font-size: 20px;
        line-height: 50px;
    }

    #contact p {
        margin-top: 10px;
    }

    .dot {
        font-size: 35px;
    }

    .job-title, .school-major {
        font-size: 25px;
        margin-top: 100px;
    }
    .job-title:nth-of-type(1), .school-major:nth-of-type(1) {
        margin-top: 50px;
    }

    .company, .school {
        font-size: 20px;
    }

    #experience .location, #experience .year-month, #education .location, #education .year-month {
        margin-top: 30px;
        font-size: 16px;
    }

    #education .note {
        font-size: 16px;
        margin-top: 0;
    }
    #education .note:last-child {
        margin-top: 20px;
    }
}